<ul class="grid grid-cols-1 sm:grid-cols-2 gap-8">
  {% for entry in items %}
    <li>
      <a href="{{ entry.url }}" class="flex items-start gap-2 hover:opacity-70">
        <div class="w-24 aspect-square overflow-hidden rounded-md">
          {% if entry.mainImage and entry.mainImage.path %}
            <img
              src="{{ entry.mainImage.path|resizeImg(192, 192) }}"
              width="192"
              height="192"
              alt="{{ entry.mainImage.alt }}"
              loading="lazy"
              decoding="async"
              class="object-cover w-full h-full"
            />
          {% else %}
            <img
              src="/images/default/noimage.gif"
              alt=""
              width="640"
              height="480"
              loading="lazy"
              decoding="async"
              class="object-cover w-full h-full"
            />
          {% endif %}
        </div>
        <div class="flex-1 flex flex-col items-start justify-center">
          <h3 class="text-gray-900 font-bold line-clamp-3 text-sm">{{ entry.title }}</h3>
          <div class="flex flex-wrap items-center gap-x-2 gap-y-1 mt-1">
            <p class="text-gray-500 text-sm">
              <span class="sr-only">公開日</span><time datetime="{{ entry.datetime|date('Y-m-d') }}">{{
                  entry.datetime|date('Y年m月d日')
                }}</time>
            </p>
            {% if entry.isNew %}
              <p class="px-2 py-1 rounded-full bg-gray-50 text-gray-900 text-xs">
                NEW
              </p>
            {% endif %}
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
