<!DOCTYPE html>
<html class="has-[dialog:open]:overflow-hidden" lang="ja">
  <head>
    <meta charset="UTF-8" />
    {% block head_meta %}
      {{ include('/include/head/meta.twig') }}
    {% endblock %}

    {% block head_link %}
      {{ include('/include/head/link.twig') }}
    {% endblock %}

    {% block head_js %}
      {{ include('/include/head/js.twig') }}
    {% endblock %}

    {% block head_structured_data %}
      {{ include('/include/structured-data/breadcrumb-list.twig') }}
    {% endblock %}
  </head>
  <body>
    {% block body_start %}
      {{ include('/include/body-start.twig') }}
    {% endblock %}

    <!-- ヘッダー -->
    {% block header %}
      {{ include('/include/header.twig') }}
    {% endblock %}

    <!-- ※管理用パーツ -->
    {% block admin_part %}
      <!-- アクションボックス -->
      @include("/admin/action.html")
      {{ include('/admin/switch-user.html') }}
    {% endblock %}

    <main class="container py-20">
      {% block topic_path %}
        <!-- トピックパス -->
        {% if touch('Touch_NotTop') %}
          <div class="mb-10">
            {{ include('/include/topicpath.twig') }}
          </div>
        {% endif %}
      {% endblock %}

      {% block main %}
        <p>
          継承してメインコンテンツを設定してください
        </p>
      {% endblock %}

      <!-- 確認用テンプレート -->
      @include('/include/check-seo.html')
    </main>

    <!-- フッター -->
    {% block footer %}
      {{ include('/include/footer.twig') }}
    {% endblock %}

    {% block body_end %}
      {{ include('/include/body-end.twig') }}
    {% endblock %}
  </body>
</html>
